# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuration secrets
config/.secrets.toml

# Database files
*.db
*.sqlite
*.sqlite3
*.db3
*.sql
*.psql
# Chroma DB
/chroma_db/

# IDEs and editors
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.log
local_settings.py
*.DS_Store

# poetry
poetry.lock
# Frontend Dependencies
frontend/node_modules

# -- Arquivos de Banco de Dados Local --
# Ignora qualquer arquivo que termine com .db, .sqlite, ou .sqlite3
*.db
*.sqlite
*.sqlite3