# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases
*.sqlite3
*.db
*.db3
*.sqlite
*.sql
*.psql
# Chroma DB
/chroma_db/

# IDEs and editors
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.log
local_settings.py
*.DS_Store

# poetry
poetry.lock
