---
extends: default

rules:
  document-start: enable
  line-length:
    max: 100
    allow-non-breakable-words: true
    ignore: |
      .github/workflows/**
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
  comments:
    min-spaces-from-content: 1
